@import url('https://fonts.googleapis.com/css2?family=Radley&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Spectral&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,700;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Serif+Pro:wght@400;600;700&display=swap');

html,
body {
  padding: 0;
  margin: 0;
  background-color: white;
  font-family:  -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  font-family: 'Source Serif Pro', serif;
}

.popup-content{
  background-color:#3c3743 !important;
  height: 15rem;
  min-width: 19rem;
  border: 1px solid #3c3743;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,0.2);
  border-radius: 10px;
}

.modal{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  list-style: none;
  font-size: 1.6rem;
  color: white;
  height: 14rem;
  background-color: var(--primary);

  }

  .modal .seleccionado{
    text-decoration: underline;
  }

.submenu > li:hover{
    cursor: pointer;
    text-decoration: underline;
    
}

ul{
  list-style-type: disc;
  margin-block-start: 0;
  margin-block-end:0;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 0;
}


